<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		table, th, td{
			border: 1px solid black
		}
	</style>
	<title>Admin's page</title>
</head>
<body>
	<table>
		<tr style="width: 100%">
			<h3>what would you like to do?</h3>
			<td>USERS</td>
			<td>
				<button type="button">Create a User</button>
				<p>redirects the admin to "CreateUser.html"</p>
			</td>
			
			<td>
				<button>Edit or Delete a User</button>
				<p>redirects admin to "EditorRemove.html"</p>
			</td>
		</tr>
	</table>
</body>
</html>

