<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Call Contracts</title>
    <h1> <u> Call Contracts </u> </h1>
</head>
<body>

<p> This page is used to post the current financial status of the condo association, budgets, ownership percent and
    current fees for the various condo-units and the historical record of the fees paid as well as special contributions
    (for major repairs etc.), maintenance work (rationales, dates, contractor, cost) </p>

Go back to the <a  href="Menu.html"> <b> main menu </b> </a>
</body>
</html>