<!-- Tiffany Ah King 40082976 Codes-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Contracts Awarded </title>
     <h1>  <u>Contracts Awarded </u>  </h1>
</head>
<body>

 <p> Posting of contracts awarded and the status </p>

 <style>
    table, th, td {
        border: 1px solid black;
    }
</style>


</br> </br>

<table style="width:100%">
    <tr>
        <th>Contracts</th>
        <th> Name </th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td> </td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td> </td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>80</td>
        <td> </td>
    </tr>
</table>

</br>
Go back to the <a  href="Menu.html"> <b> main menu </b> </a>

</body>
</html>