<!DOCTYPE html>
<!--Daniel GAUVIN - 40061905 -->
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<h1>Create a new User</h1>
	<form>
		<p>ID</p>
		<input type="text" name="memberID">
		<p>password</p>
		<input type="password" name="memberPassword">
		<p>name</p>
		<input type="text" id="memberName">
		<p>address</p>
		<input type="text" name="memberAddress">
		<p>email</p>
		<input type="email" name="memberEmail">

		<br>
		<br>
		<input type="submit" name="submitButton">
		<button>See all users</button>
		<p>//displays all members stored in the database</p>
	</form>
	<p>//This html file adds a user to the memebers database</p>
</body>
</html>