<!-- Tiffany Ah King -40082976  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election</title>
</head>
<body>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2><i> <u> Election of members of the Condo-association board </u> </i> </h2>

</br> </br>

<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Vote</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td> </td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td> </td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>80</td>
        <td> </td>
    </tr>
</table>

<br>
Go back to the <a  href="Menu.html"> <b> main menu </b> </a>
</body>
</html>