<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu </title>
</head>
<body>

<nav class ="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">

        <h1> <i> <em>
            &#x02729;&#10025; MENU FOR SERVICES &#x02729; &#10025;
        </em></i> </h1> </a>


    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="FinancialStatus.html">Financial Status </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Callofcontracts.html"> Call for Contracts </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ContractsAwarded.html"> Contracts Awarded </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AdministratorMeetings.html">Administrator Meetings </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ScheduleMeetings.html"> Schedule Meetings </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Polling.html"> Polling </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Election.html"> Election for the Condo-association board </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="OwnersConcerns.html"> Concerns of Condo owners </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="OnlineDiscussion.html"> Online Discussion </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="EmailSystem.html"> Email System </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Advertising.html"> Advertising </a>
            </li>
        </ul>
    </div>
</nav>



</body>
</html>