<!-- Tiffany Ah King -40082976  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Owners Concerns and Discussion</title>
</head>
<body>

<h1> <u> Owners  Discussion </u> </h1> <br> <br>

<h3> What topic do you want to discuss? </h3>
<br>
<form action="/action_page.php">
  <label for="fullname">Full name:</label>
  <input type="text" id="fullname" name="fullname"><br><br>
  <label for="topic">Topic:</label>
  <input type="text" id="topic" name="topic"><br><br>
  <input type="submit" value="Submit">
</form>

<!--Just need php and sql to finish this issue-->

<br> <br>
<h1> <u> Owners Concerns</u> </h1> <br> <br>

<div class="container">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <br> <br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <br> <br>

    <label for="concerns"> Concerns </label>
    <textarea id="concerns" name="concerns" placeholder="Write something.." style="height:200px"></textarea>
      <br> <br>

    <input type="submit" value="Submit">
      <br> <br>

</div>
<br><br>

Go back to the <a  href="Menu.html"> <b> main menu </b> </a>

</body>
</html>