<!-- Tiffany Ah King -40082976  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Polling </title>
    <h1> <u> Polling for various resolutions </u></h1>

<script>
function getVote(int) {
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("poll").innerHTML=this.responseText;
    }
  }
  xmlhttp.open("GET","polling.php?vote="+int,true);
  xmlhttp.send();
}
</script>
</head>

<body>

<div id="poll">
<h3>Do you agree with the proposition?</h3>
<form>
Yes: <input type="radio" name="vote" value="0" onclick="getVote(this.value)"><br>
No: <input type="radio" name="vote" value="1" onclick="getVote(this.value)">
</form>
</div>

<br>
<br> Go back to the <a  href="Menu.html"> <b> main menu </b> </a>
</body>
</html>