<!-- Tiffany Ah King 40082976 Codes-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Search Page </title>

</head>
<body>

<h1> Search Users </h1><br>

<div class="search">
    <input placeholder="search" type="text" id="search">
    <input type="button" value="Go" onclick="search(document.getElementById('user').value)">
    <br><br><br><br><br>
</div>


</body>
</html>