<!-- Tiffany Ah King -40082976  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title> Search User </title>
</head>
<body>
<h1> Search User </h1> <br> <br>
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

</body>
</html>